body {
    font-family:  Arial, sans-serif;
    background-color: #5fb6c7;
    color: rgb(36, 27, 0);
    margin: 0;
    padding: 10;
    align-content: left;
}

#content {
    width:100%;
    margin: 0;
    border: 5px solid #000000;
    
    
}
#banner {
    background-color: #a894f1;
    text-align: center;
    border: 3px solid #000000;
    margin: 0px;
    padding: 10px;

}

#blogposts {
    display: flex;
    margin: 10px;
    border: 1px solid #000000;
    text-align: center;
     
}

.post {
    width: 94%;
    margin: 10px;
    padding: 10px;
    border: 3px solid #000000;
    bottom: 1px solid #000000;
    background-color: #99a0c9;
    text-align: center;
}



.post img {
    width: 200px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}